{% extends "_layouts/cp" %}
{% set title = "Reports"|t %}

{% set extraPageHeaderHtml %}
    <div class="buttons right">
        <div class="newwidget btngroup">
            <div id="newwidgetmenubtn" class="btn submit menubtn add icon">{{ 'New report'|t }}</div>
            <div class="menu newwidgetmenu">
            
                <ul>
                    <li><a href="{{ url('reports/new/manual') }}" data-type="manual" data-name="manual">Manual</a></li>
                    {% for type, report in types %}
                        <li>
                            <a href="{{ url('reports/new/'~type) }}" data-type="{{ type }}" data-name="{{ type }}">
                                {{ type|capitalize }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endset %}


{% block content %}
    <p id="nofields"{% if reports %} class="hidden"{% endif %}>
            {{ "No reports exist yet."|t }}
    </p>

    {% if reports %}
        <table id="js-reports" class="data fullwidth collapsible">
            <thead>
            <th scope="col">{{ "Name"|t }}</th>
            <th scope="col">{{ "Type"|t }}</th>
            <th scope="col">{{ "Last Run"|t }}</th>
            <td class="thin"></td>
            <td class="thin"></td>
            <td class="thin"></td>
            </thead>
            <tbody>
            {% for report in reports %}
                <tr data-id="{{ report.id }}" data-name="{{ report.name|t }}">
                    <th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('reports/edit/' ~ report.id) }}">{{ report.name|t }}</a>
                    </th>
                    <td data-title="{{ 'Type'|t }}"><code>{{ report.type }}</code></td>
                    <td data-title="{{ 'Last Run'|t }}">
                        {{ report.lastRun is not null ? report.lastRun|date('d/m/Y G:i') : '' }}
                    </td>
                    <td class="thin"><a class="btn" title="{{ 'View'|t }}" href="{{ url('reports/run/' ~ report.id) }}" data-icon="view">View</a></td>
                    <td class="thin"><a class="submit btn icon" title="{{ 'Export'|t }}" href="{{ url('reports/export/' ~ report.id) }}" data-icon="download">Export</a></td>
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}


{% includejs %}
new Craft.AdminTable({
    tableSelector: '#js-reports',
    noObjectsSelector: '#js-noReports',
    deleteAction: 'reports/deleteReport'
});
{% endincludejs %}

